
h1{
    color: white;
}
.container {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.logo {
    width: 120px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 30px;
}
.admin
{
    margin:0;
    align-items: center;
    display:flex;
    justify-content: center;
    margin-top: 80px;
    
}