.otp-btn{

justify-content: center;
background:red;
color:white;
border:none;
padding:8px 75px;
font-size:13px;
border-radius:6px;
cursor:pointer;
width:auto;
}
.otp{
    width:35%;
    justify-content: center;
}
.logo-p{
    color: red;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
}