.otp-btn {
  display: block;
  margin: 0px auto;
  background: red;
  color: white;
  border: none;
  padding: 12px 40px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  transition: background 0.3s ease, transform 0.2s ease;
}
body {
  margin: 0;
  background:black;
  font-family: Arial;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.otp {
  width: 320px;
  max-width: 35%;
  padding: 12px;
  border: 1px solid #555;
  border-radius: 6px;
  font-size: 15px;
  background-color: #2c2c3c;
  color: white;
  display: block;
   margin: 20px auto 8px auto;
  outline: none;
  box-sizing: border-box;
}
.logo-p{
    color: red;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
}