.player-btn{
position:absolute;
top:20px;
right:20px;
background:red;
color:white;
border:none;
padding:6px 14px;
font-size:13px;
border-radius:6px;
cursor:pointer;
width:auto;
}

.movie-description{
color:whitesmoke;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: larger;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

video {
  border-radius: 10px;
}

.player-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: red;
  color: white;
  border: none;
  padding: 6px 14px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
}


