MONGODB_URL='mongodb+srv://sneharao31078_db_user:TnO9f8XZID9KNaV8@cluster0.qqkomyx.mongodb.net/netflix'
JWT_SECRET='sneharao31078_secret_key'
NODE_ENV='development'
API_Key='84acc21b6aab3305becf2e26685833f9'
EMAIL_USER='sneha8484rao@gmail.com'
APP_PASSWORD='evaw revb fltg wzbx'